<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!--  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Remember word</title>
  <style>
        .grid {
            display: grid;
            grid-template-columns: 15% 15% 15%;
            grid-gap: 5px;
        }

         .grid-item {
            position: relative;
            overflow: hidden;
            width: 100%;
        }
          .grid:before {
            content: '';
            grid-column: 2;
            grid-row: 2;
        }
        .grid-item:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .grid-item img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    </style>
</head>
<body>

<h3>Remember word</h3>


<!--      <div th:if="${showComponent}">-->
<!--          <div class="grid" >-->

<!--            <div  class="grid-item"  th:each="graph, index: ${randomGraphStrings}">-->
<!--          &lt;!&ndash;    <span th:text=${graph.address}>&ndash;&gt;-->
<!--          &lt;!&ndash;    <img th:src="@{'/static/images/' + ${graph.address}}" th:key="${index}"&ndash;&gt;-->
<!--          &lt;!&ndash;         th:onclick="handleImageClick(index)" />&ndash;&gt;-->
<!--              <img th:src="@{'/static/images/' + ${graph}}"-->
<!--                   data-index="${index.index}" @click="handleImageClick" />-->
<!--            </div>-->
<!--          </div>-->
<!--      </div>-->

<!--      <div th:else>-->
            <div id="app" >
                <div v-if="isDataLoaded">
                    <div class="grid">

                        <!--                <div  class="grid-item"  th:each="graph, index: ${graphs}">-->

                        <!--                    <img th:src="@{'/static/images/' + ${graph}}" th:data-index="${index.index}"-->
                        <!--                         @click="handleImageClick" />-->
                        <div class="grid-item" v-for="(image, index) in randomGraphStrings"
                             :key="index" @click="handleImageClick(index)" >
                            <img :src="'/static/images/'  + image"  alt="Image">
                        </div>
                    </div>
                    <p>Have fun!</p>
                </div>
                <div v-else>
                    <!-- 显示加载中的提示或动画 -->
                    <p>Loading...</p>
                </div>
            </div>
</body>
<script th:inline="javascript">
  /* 将数据存储在全局变量中 */
  var globalData =  /*[[${graphs}]]*/ '';
</script>

<script th:inline="javascript">
<!--    import axios from 'axios';-->
    new Vue({
        el: '#app',
        data: {
            showComponent: false,
            isDataLoaded: false,
            userWordList:[],
            graphs: [],
            randomGraphStrings: [],
            userId: null,
            bookId: null,
            word: null,
            isCreated: false,
            rightId: null,
            clickId: null,
        },
        created() {
            // 通过页面获取userId和bookId
            const path = window.location.pathname; // 获取当前页面的路径
            const pathParts = path.split('/'); // 将路径拆分为部分
            const ids = pathParts[pathParts.length - 1].split('&'); // 获取最后一个部分作为路径变量的值
            this.userId = ids[0];
            this.bookId = ids[1];
            console.log('Data from Thymeleaf:', globalData);
            this.randomGraphStrings = globalData;

            // 从后端获取数据
        },

         mounted() {
             this.executeMethods();
                setTimeout(() => {
                    this.isDataLoaded = true;
                }, 3000);
                
         },
        methods: {
            // 处理点击
            handleImageClick(index) {
                this.clickId = index;
                console.log('Clicked image:', index);
                // 执行其他操作，根据索引index来确定点击的是哪张图片
            },

            // 得到数据
            fetchData() {
                axios.all([
                this.fetchUserWordList(),
                this.fetchGraphStrArr(),
                ])
                .then(axios.spread((userWordList, graphs) => {
                    this.userWordList = userWordList.data;
                    this.graphs = graphs.data;
                    console.log(this.userWordList);
                    console.log(this.graphs);
                    this.isCreated = true;
                }))
                .then()
                .catch(error => {
                    console.error(error);
                });
            },

            // 得到单词列表
            fetchUserWordList() {
                return axios.get(`/data/${this.userId}&${this.bookId}`);
            },

            // 得到图片名集
            fetchGraphStrArr() {
                return axios.get(`/data/graphs/${this.bookId}`);
            },
            // 从单词列表中按照记忆优先级得到一个单词
            getOneWord() {
                console.log(this.userWordList);
                this.word = this.userWordList[0].word;
                return this.word;
            },

            // 根据单词得到图片
            getGraphsStrings(word) {
                const randomSet = new Set();
                randomSet.add(word + '.jpg');

                // 随机选择字符串
                while (randomSet.size < 8 ) {
                    const randomIndex = Math.floor(Math.random() * this.graphs.length);
                    const randomString = this.graphs[randomIndex];
                    randomSet.add(randomString);
                }

                // 将Set转换为数组
                this.randomGraphStrings = Array.from(randomSet);
                console.log(this.randomGraphStrings);
            },

           async executeMethods() {
              try {
                await this.method1();
                await this.method2();
                await this.method3();
                // 三个方法都执行完成后的逻辑
              } catch (error) {
                // 错误处理
                console.error(error);
              }
           },

           method1() {
              return new Promise((resolve, reject) => {
                  // 方法1的逻辑，包括异步的Ajax请求

                     setTimeout(() => {
                     this.fetchData();
                        resolve('Function 1 executed.');
                      }, 1000);
                  // 在请求成功后调用 resolve()
                  // 在请求失败时调用 reject()
              });
           },

           method2() {
              return new Promise((resolve, reject) => {
                  // 方法2的逻辑，包括异步的Ajax请求

                    setTimeout(() => {
                    this.getOneWord();
                        resolve('Function 2 executed.');
                      }, 1000);
                  // 在请求成功后调用 resolve()
                  // 在请求失败时调用 reject()
              });
           },

           method3() {
              return new Promise((resolve, reject) => {
                  // 方法3的逻辑，包括异步的Ajax请求

                    setTimeout(() => {
                    this.getGraphsStrings(this.word);
                        resolve('Function 3 executed.');
                      }, 1000);
                  // 在请求成功后调用 resolve()
                  // 在请求失败时调用 reject()
              });
           },

            // 对数组进行排序
            sortedList(list) {
                 return list.slice().sort(this.memoryComparator);
            },


            // 修改首项后使用插入排序
            moveElementToCorrectPosition(list, index, memoryComparator) {
              const element = list[index];
              let i = index + 1;

              while (i < list.length - 1 && memoryComparator(element, list[i]) < 0) {
                list[i] = list[i+1];
                i++;
              }

              list[i + 1] = element;
            },

            // comparator
            memoryComparator(w1, w2) {
                 if (!w1.is_memory() && !w2.is_memory()) {
                    // todo: more complex compare rule
                    if (w1.occurence_freqence() > w2.occurence_freqence()) {
                        return 1;
                    } else {
                        return -1;
                    }
                  }
                  else if (!w1.is_memory()) {
                      return -1;
                  } else if (!w2.is_memory()) {
                      return 1;
                  } else {
                      return 0;
                  }
            },

            // 点击正确，修改数据
            clickRight(index) {
                this.userWordList[index].memory_level += 2;
                this.moveElementToCorrectPosition(this.userWordList, index, this.memoryComparator);
            },

            // 点击错误，修改数据
            clickWrong(index) {
                this.userWordList[index].memory_level += 1;
                this.moveElementToCorrectPosition(this.userWordList, index, this.memoryComparator);
            },

        }
     })
</script>
</html>
