<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Remember word</title>
  <style>
        .grid {
            display: grid;
            grid-template-columns: 15% 15% 15%;
            grid-gap: 5px;
            width：70%
        }

        .grid-item {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
        }

        .grid-item img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;   <!-- 填充图像 -->
         }


    </style>
</head>
<body>

<h3>Remember word</h3>



<div class="grid">

  <div class="grid-item"  th:each="graph : ${graphs}">
<!--    <span th:text=${graph.address}>-->
    <img th:src="@{'/static/images/' + ${graph.address}}" alt="Image"  />
  </div>
</div>


</body>
</html>
